{% extends "partials/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Profile{% endblock %}

{% block header %}
<div class="wrap margins-off">
  <a href="/admin/"><i class="fa fa-angle-left"></i>&nbsp; Back</a>
  <span style="float: right"><a href="/logout"><i class="fa fa-times-circle"></i>&nbsp; Log out</a></span>
  <div style="clear: both;"></div>
</div>
{% endblock %}

{% block main %}
<table>
    <tr>
        <th> Name </th>
        <th> Email </th>
        <th> Phone </th>
        <th> University </th>
    </tr>
    {% for mentor in mentors %}
    <tr>
        <td>{{mentor.name}}</td>
        <td>{{mentor.email}}</td>
        <td>{{mentor.phone}}</td>
        <td>{{mentor.university_name}}</td>
        <td><a href={{"/admin/mentors/edit/" + mentor.id|string}}>Edit</a></td>
        <td><a href={{"/admin/mentors/delete/" + mentor.id|string}}>Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}